{% extends 'webclient/Base/Base.html' %}
{% block content %}
    {% load static %}
    {% load tag %}
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Cart</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active">Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <form method="post" action="/updateCart">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-main table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Images</th>
                                        <th>Product Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th>Check</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cart_product in cart_products %}
                                    <tr product="{{cart_product.product.id}}">
                                        <td class="thumbnail-img">
                                            <a href="#">
                                        <img class="img-fluid" src="{{cart_product.product.GetPathImg}}" alt="" />
                                            </a>
                                        </td>
                                        <td class="name-pr">
                                            <a href="#">
                                        {{cart_product.product.name}}
                                            </a>
                                        </td>
                                        <td class="price-pr">
                                            <p>$ {{cart_product.product.price}}</p>
                                        </td>
                                        <td class="quantity-box">
                                            <input name="productid" value="{{cart_product.product.id}}" hidden>
                                            <input name="number" type="number" size="4" min="0" step="1" class="c-input-text qty text" value="{{cart_product.number}}"
                                            onkeyup="this.parentNode.parentNode.children[4].children[0].innerHTML ='$ '+ this.value*{{cart_product.product.price}}"
                                            onchange="this.parentNode.parentNode.children[4].children[0].innerHTML ='$ '+ this.value*{{cart_product.product.price}}">
                                        </td>
                                        <td class="total-pr">
                                            <p>$ {{cart_product.product.price|nhan:cart_product.number}}</p>
                                        </td>
                                        <td>
                                            <input name="productid_check" type="checkbox" value="{{cart_product.id}}" style="height: 20px; width: 20px;">
                                        </td>
                                        <td class="remove-pr">
                                            <a class="cart-remove">
                                        <i class="fas fa-times"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row my-5">
                    <div class="col-lg-6 col-sm-6">
                        <div class="coupon-box">
                            <div class="input-group input-group-sm">
                                <input class="form-control" placeholder="Enter your coupon code" aria-label="Coupon code" type="text">
                                <div class="input-group-append">
                                    <button class="btn btn-theme" type="button">Apply Coupon</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="update-box">
                            <input value="Update Cart" type="submit">
                        </div>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-lg-8 col-sm-12"></div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="order-box">
                            <h3>Order summary</h3>
                            <div class="d-flex">
                                <h4>Sub Total</h4>
                                <div class="ml-auto font-weight-bold"> $ {{total_price}} </div>
                            </div>
                            <hr class="my-1">
                            <div class="d-flex">
                                <h4>Shipping Cost</h4>
                                <div class="ml-auto font-weight-bold"> Free </div>
                            </div>
                            <hr>
                            <div class="d-flex gr-total">
                                <h5>Grand Total</h5>
                                <div class="ml-auto h5"> $ {{total_price}} </div>
                            </div>
                            <hr> 
                        </div>
                    </div>
                    <div class="col-12 d-flex shopping-box">
                        <input type="submit" style="width: 31.5%" class="ml-auto btn hvr-hover" name="action" value="Checkout">
                    </div>
                </div>
            </form>

        </div>
    </div>
    <!-- End Cart -->

{% endblock content %}

{% block js %}
<script src="/static/webclient/js/cart.js"></script>
{% endblock js %}