<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Đổi mật khẩu</h2>
    <form method="POST" action="changepassword">
        {% csrf_token %}
        <label> OLD PASSWORD</label>
        <input type='password' name='passwordold'>
        <label> NEW PASSWORD</label>
        <input type='password' name='passwordnew'>
        <label>PASSWORD CONFIRM</label>
        <input type='password' name='passwordconfirm'>
        <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
        <br>
    </form>
</body>
</html>

