<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot your password?</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/webclient/css/forgetpassword.css' %}">
</head>
<body>
    <div class="container">
        <h1>Quên mật khẩu</h1>
        <p>Nhập địa chỉ email của bạn bên dưới và chúng tôi sẽ gửi email hướng dẫn cách đặt địa chỉ mới.</p>
        <form method="POST" action='forgotpassword'>
            {% csrf_token %}
            <label>Email</label>
            <input name='email'  type='text'> 
            <input type="submit" value="Send!">
            <br>
            <br>
            {{notice}}
        </form>
    </div>
    
    <script src="script.js"></script>
</body>
</html>