{% extends 'webclient/Base/Base.html' %}
{% block content %}
{% load static %}
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Shop</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index">Home</a></li>
                        <li class="breadcrumb-item active">Shop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Shop Page  -->
    <div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">
                        <div class="product-item-filter row">
                            <div class="col-12 col-sm-8 text-center text-sm-left">
                                <div class="toolbar-sorter-right">
                                    <span>Sort by </span>
                                    <select id="sort" class="selectpicker show-tick form-control" data-placeholder="$ USD">
									<option value="grid-view" data-display="Select">Nothing</option>
									<option value="desc">High Price → Low Price </option>
									<option value="asc">Low Price → High Price </option>
								</select>
                                </div>
                                <p>Showing all 3 results</p>
                            </div>
                            <div class="col-12 col-sm-4 text-center text-sm-right">
                                <ul class="nav nav-tabs ml-auto">
                                    <li>
                                        <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                    <div class="row product">
                                        {% for product in products %}
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 product_item">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <div class="type-lb">
                                                            <p class="sale">Sale</p>
                                                        </div>
                                                        <img src="{{product.GetPathImg}}" style="height: 16vw; width: 16vw" class="img-fluid" alt="Image">
                                                        <div class="mask-icon">
                                                            <ul>
                                                                <li data-toggle="modal" data-target="#a{{product.id}}"><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                                <li><a data-toggle="tooltip" data-placement="right" title="Add to Wishlist" class="AddtoWishList" productid="{{product.id}}"><i class="far fa-heart"></i></a></li>
                                                            </ul>
                                                            <a class="cart AddtoCart" productid="{{product.id}}">Add to Cart</a>
                                                        </div>
                                                    </div>
                                                    <div class="why-text">
                                                        <a href="shopdetail/{{product.id}}"><h4>{{product.name}}</h4></a>
                                                        <h5>${{product.price}}</h5>
                                                    </div>
                                                </div>
                                                <div class="modal fade" id="a{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel"> {{product.name}} Detail</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
    
                                                            <div class="modal-body" style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
                                                                <img src="{{product.GetPathImg}}" style="height: 16vw; width: 16vw;" class="img-fluid" alt="Image">
                                                                <h4 style="text-align: center;">Name: {{product.name}}</h4>
                                                                <h4 style="text-align: center;">Price: {{prosduct.price}}</h4>
                                                                <h4 style="text-align: center;">Remain: {{product.remain}}</h4>
                                                                <h4 style="text-align: center;">Description: {{product.description}}</h4>
                                                            </div>
    
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="button" class="btn btn-primary">Add to cart</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="desc">
                                    <div class="row product">
                                        {% for product in products|dictsortreversed:"price" %}
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 product_item">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <div class="type-lb">
                                                            <p class="sale">Sale</p>
                                                        </div>
                                                        <img src="{{product.GetPathImg}}" style="height: 16vw; width: 16vw" class="img-fluid" alt="Image">
                                                        <div class="mask-icon">
                                                            <ul>
                                                                <li data-toggle="modal" data-target="#b{{product.id}}"><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                            </ul>
                                                            <a class="cart" href="#">Add to Cart</a>
                                                        </div>
                                                    </div>
                                                    <div class="why-text">
                                                        <a href="shopdetail/{{product.id}}"><h4>{{product.name}}</h4></a>
                                                        <h5>${{product.price}}</h5>
                                                    </div>
                                                </div>
                                                <div class="modal fade" id="b{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel"> {{product.name}} Detail</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
    
                                                            <div class="modal-body" style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
                                                                <img src="{{product.GetPathImg}}" style="height: 16vw; width: 16vw;" class="img-fluid" alt="Image">
                                                                <h4 style="text-align: center;">Name: {{product.name}}</h4>
                                                                <h4 style="text-align: center;">Price: {{prosduct.price}}</h4>
                                                                <h4 style="text-align: center;">Remain: {{product.remain}}</h4>
                                                                <h4 style="text-align: center;">Description: {{product.description}}</h4>
                                                            </div>
    
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="button" class="btn btn-primary">Add to cart</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="asc">
                                    <div class="row product">
                                        {% for product in products|dictsort:"price" %}
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 product_item">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <div class="type-lb">
                                                            <p class="sale">Sale</p>
                                                        </div>
                                                        <img src="{{product.GetPathImg}}" style="height: 16vw; width: 16vw" class="img-fluid" alt="Image">
                                                        <div class="mask-icon">
                                                            <ul>
                                                                <li data-toggle="modal" data-target="#c{{product.id}}"><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                            </ul>
                                                            <a class="cart" href="#">Add to Cart</a>
                                                        </div>
                                                    </div>
                                                    <div class="why-text">
                                                        <a href="shopdetail/{{product.id}}"><h4>{{product.name}}</h4></a>
                                                        <h5>${{product.price}}</h5>
                                                    </div>
                                                </div>
                                                <div class="modal fade" id="c{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel"> {{product.name}} Detail</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body" style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
                                                                <img src="{{product.GetPathImg}}" style="height: 16vw; width: 16vw;" class="img-fluid" alt="Image">
                                                                <h4 style="text-align: center;">Name: {{product.name}}</h4>
                                                                <h4 style="text-align: center;">Price: {{prosduct.price}}</h4>
                                                                <h4 style="text-align: center;">Remain: {{product.remain}}</h4>
                                                                <h4 style="text-align: center;">Description: {{product.description}}</h4>
                                                            </div>
    
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="button" class="btn btn-primary">Add to cart</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                    <div class="product-categori">
                        <div class="search-product">
                            <form action="#">
                                <input class="form-control" placeholder="Search here..." type="text">
                                <button type="submit"> <i class="fa fa-search"></i> </button>
                            </form>
                        </div>
                        <div class="filter-sidebar-left">
                            <div class="title-left">
                                <h3>Categories</h3>
                            </div>
                            <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                                <div class="list-group-collapse sub-men">
                                    <a class="list-group-item list-group-item-action" href="#sub-men1" data-toggle="collapse" aria-expanded="true" aria-controls="sub-men1">Fruits & Drinks <small class="text-muted">(100)</small>
								</a>
                                    <div class="collapse show" id="sub-men1" data-parent="#list-group-men">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">Fruits 1 <small class="text-muted">(50)</small></a>
                                            <a href="#" class="list-group-item list-group-item-action">Fruits 2 <small class="text-muted">(10)</small></a>
                                            <a href="#" class="list-group-item list-group-item-action">Fruits 3 <small class="text-muted">(10)</small></a>
                                            <a href="#" class="list-group-item list-group-item-action">Fruits 4 <small class="text-muted">(10)</small></a>
                                            <a href="#" class="list-group-item list-group-item-action">Fruits 5 <small class="text-muted">(20)</small></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-collapse sub-men">
                                    <a class="list-group-item list-group-item-action" href="#sub-men2" data-toggle="collapse" aria-expanded="false" aria-controls="sub-men2">Vegetables 
								<small class="text-muted">(50)</small>
								</a>
                                    <div class="collapse" id="sub-men2" data-parent="#list-group-men">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action">Vegetables 1 <small class="text-muted">(10)</small></a>
                                            <a href="#" class="list-group-item list-group-item-action">Vegetables 2 <small class="text-muted">(20)</small></a>
                                            <a href="#" class="list-group-item list-group-item-action">Vegetables 3 <small class="text-muted">(20)</small></a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="list-group-item list-group-item-action"> Grocery  <small class="text-muted">(150) </small></a>
                                <a href="#" class="list-group-item list-group-item-action"> Grocery <small class="text-muted">(11)</small></a>
                                <a href="#" class="list-group-item list-group-item-action"> Grocery <small class="text-muted">(22)</small></a>
                            </div>
                        </div>
                        <div class="filter-price-left">
                            <div class="title-left">
                                <h3>Price</h3>
                            </div>
                            <div class="price-box-slider">
                                <div id="slider-range"></div>
                                <p>
                                    <input type="text" id="amount" readonly style="border:0; color:#fbb714; font-weight:bold;">
                                    <button class="btn hvr-hover" type="submit">Filter</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item">
                        <div class="page-link" tabindex="-1">Previous</div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- End Shop Page -->
    <script>
        var listItem = document.querySelectorAll(".tab-pane.fade.show.active .product_item");
        var perPage = 9;
        var page = 1;
        var pages = Math.ceil(listItem.length/perPage);
        var paginations = document.querySelector('.pagination');
        
        for(var i=0;i<pages;i++){
            var number = document.createElement('li');
            number.classList.add('page-item');
            var numberDiv = document.createElement('div');
            numberDiv.classList.add('page-link');
            numberDiv.setAttribute('data-index',i);
            var numberIn = document.createTextNode(i+1);
            numberDiv.appendChild(numberIn);
            number.appendChild(numberDiv);
            number.addEventListener('click',function(e){
                var self = e.target;
                goToPage(self.getAttribute('data-index'));
            })

            paginations.appendChild(number);
        }
        var previous = document.querySelector('.page-item');
        previous.addEventListener('click',function(){
            if(page>1){
                page--;
                Show();
            }
        })

        var next = document.createElement('li');
        var aNext = document.createElement('div');
        var textNext = document.createTextNode('Next');
        next.classList.add('page-item');
        aNext.classList.add('page-link');
        aNext.appendChild(textNext);
        next.appendChild(aNext);
        next.addEventListener('click',function(){
            if(page<pages){
                page++;
                Show();
            }
        })
        paginations.appendChild(next);

        function Show(){
            for(var i=0;i<listItem.length;i++){
                listItem[i].classList.add('d-none');
            }
            var offset = (page - 1)*perPage;
            var pagination = document.querySelectorAll('.page-item');
            for(var i=1;i<pagination.length-1;i++){
                pagination[i].classList.remove('active');
            }
            pagination[page].classList.add('active');
            for(var i=offset;i<offset+perPage;i++){
                if(i>=listItem.length) break;
                listItem[i].classList.remove('d-none');
            }
        }
        function goToPage(index){
            index = parseInt(index);
            page = index + 1;
            Show();
        }
        Show();
        var choice = document.getElementById("sort");
        choice.onchange = function(){
            var value = choice.value;
            try {
                var active = document.querySelector(".show.active");
                active.classList.remove("show");
                active.classList.remove("active");
                var show = document.getElementById(choice.value);
                show.classList.add("show","active");
                listItem = document.querySelectorAll(".tab-pane.fade.show.active .product_item");
                Show();
            }
            catch(e){
            }
        }
    </script>
{% endblock content %}